body {
  margin: 0;
  background: #000;
  color: white;
  font-family: Arial;
  overflow: hidden;
}

#ui {
  position: fixed;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.row {
  margin-top: 10px;
}
